{% extends 'base.html.twig' %}

{% block title %}Inscription - Wacdo{% endblock %}

{% block body %}
    <h1 class="text-center text-4xl text-shadow-lg font-medium m-8 text-white"><span class="text-yellow-300">S</span>'INSCRIRE</h1>


<div class="grid items-center justify-center">
    {{ form_start(registrationForm, {
        attr: { class: 'grid md:grid-cols-2 bg-white rounded-xl shadow-lg p-12 mt-12' }
    }) }}
        {{ form_label(registrationForm.email, 'Email :', {
            label_attr: { class: 'col-span-1 font-semibold text-lg my-auto' }
        }) }}
        {{ form_widget(registrationForm.email, {
            attr: { class: 'col-span-1 items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded-xl' }
        }) }}
        <div class="col-span-1 md:col-span-2 text-red-600 text-sm mt-1">
            {{ form_errors(registrationForm.email) }}
        </div>
        {{ form_label(registrationForm.plainPassword, 'Mot de passe', {
            label_attr: { class: 'col-span-1 font-semibold text-lg my-auto' }
        }) }}
        {{ form_widget(registrationForm.plainPassword, {
            attr: { class: 'col-span-1 items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded-xl' }
        }) }}
        <div class="col-span-1 md:col-span-2 text-red-600 text-sm mt-1">
            {{ form_errors(registrationForm.plainPassword) }}
        </div>
        {{ form_label(registrationForm.agreeTerms, 'Accepter les conditions :', {
            label_attr: { class: 'col-span-1 font-semibold text-lg my-auto' }
        }) }}
        {{ form_widget(registrationForm.agreeTerms, {
            attr: { class: 'col-span-1 px-4 w-64 h-6 bg-gray-200 mt-2 rounded-xl' }
        }) }}
        <div class="col-span-1 md:col-span-2 text-red-600 text-sm mt-1">
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>

        <div class="col-span-1 md:col-span-2 text-red-600 text-sm mt-4">
            {{ form_errors(registrationForm) }}
        </div>

        <div class="col-span-1 md:col-span-2">
            {{ form_widget(registrationForm.submit, {
                label: 'S\'inscrire',
                attr: { class: 'w-full items-center h-12 bg-blue-600 mt-8 rounded-xl font-semibold text-lg text-blue-100 hover:bg-blue-700' }
            }) }}
        </div>
    {{ form_end(registrationForm) }}
</div>

{% endblock %}
