{% extends 'base.html.twig' %}

{% block title %}Modifier le collaborateur{% endblock %}

{% block body %}
    <h1 class="text-center text-4xl text-shadow-lg font-medium m-8 text-white"><span class="text-yellow-300">M</span>ODIFIER LE COLLABORATEUR</h1>

    {{ include('collaborateur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_collaborateur_index') }}">Retourner à la liste</a>

    {{ include('collaborateur/_delete_form.html.twig') }}

    <br>

    <h2 class="text-center text-2xl text-shadow-lg font-medium m-8 text-white"><span class="text-yellow-300">C</span>réer une nouvelle affectation pour ce collaborateur :</h2>

    {{ form_start(affectationForm) }}
    {{ form_widget(affectationForm) }}
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(affectationForm) }}
{% endblock %}
