{% extends 'base.html.twig' %}

{% block title %}Gestion des collaborateurs{% endblock %}

{% block body %}
    <h1 class="text-center text-5xl m-8 text-white"><span class="text-yellow-300">G</span>ESTION DES COLLABORATEURS</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Filtrer') }}</button>
    {{ form_end(form) }}

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Date de première embauche</th>
                <th>Administrateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collaborateur in collaborateurs %}
            <tr>
                <td>{{ collaborateur.prenom }}</td>
                <td>{{ collaborateur.nom }}</td>
                <td>{{ collaborateur.email }}</td>
                <td>{{ collaborateur.datePremiereEmbauche|date('d/m/Y') }}</td>
                <td>{{ collaborateur.administrateur ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_collaborateur_show', {'id': collaborateur.id}) }}">Détail</a>
                    <a href="{{ path('app_collaborateur_edit', {'id': collaborateur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de collaborateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_collaborateur_new') }}">Créer un nouveau collaborateur</a>
{% endblock %}
