{% extends 'base.html.twig' %}

{% block title %}Gestion des collaborateurs{% endblock %}

{% block body %}
    <h1>Gestion des collaborateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Date de première embauche</th>
                <th>Administrateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collaborateur in collaborateurs %}
            <tr>
                <td>{{ collaborateur.prenom }}</td>
                <td>{{ collaborateur.nom }}</td>
                <td>{{ collaborateur.email }}</td>
                <td>{{ collaborateur.datePremiereEmbauche|date('d/m/Y') }}</td>
                <td>{{ collaborateur.administrateur ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_collaborateur_show', {'id': collaborateur.id}) }}">show</a>
                    <a href="{{ path('app_collaborateur_edit', {'id': collaborateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de collaborateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_collaborateur_new') }}">Créer un nouveau collaborateur</a>
{% endblock %}
