{% extends 'base.html.twig' %}

{% block title %}Collaborateur{% endblock %}

{% block body %}
    <h1 class="text-center text-4xl text-shadow-lg font-medium m-8 text-white"><span class="text-yellow-300">C</span>OLLABORATEUR</h1>

    <div class="w-fit relative mx-auto overflow-hidden shadow-xl bg-white rounded-xl p-12 mt-12">
        {{ include('collaborateur/_form.html.twig', {'button_label': 'Modifier ce collaborateur'}) }}
        {{ include('collaborateur/_delete_form.html.twig') }}
    </div>

    <h2 class="text-center text-3xl text-shadow-lg font-medium m-8 text-white"><span class="text-yellow-300">L</span>iste des affectations</h2>

    <div class="flex items-center justify-center">
        {{ form_start(collaborateurAffectationForm, {
            attr: { class: 'flex bg-white rounded-xl shadow-lg border border-gray-400' }
        }) }}
            {{ form_label(collaborateurAffectationForm.debut, 'Date de début d\'affectation :', {
                label_attr: { class: 'flex font-semibold text-lg mx-2' }
            }) }}
            {{ form_widget(collaborateurAffectationForm.debut, {
                attr: { class: 'flex items-center bg-gray-200 px-2 border-x border-gray-400' }
            }) }}
            {{ form_label(collaborateurAffectationForm.fonction, 'Fonction :', {
                label_attr: { class: 'flex font-semibold text-lg mx-2' }
            }) }}
            {{ form_widget(collaborateurAffectationForm.fonction, {
                attr: { class: 'flex items-center bg-gray-200 px-2 border-x border-gray-400' }
            }) }}
            {{ form_widget(collaborateurAffectationForm.submit, {
                label: 'Rechercher',
                attr: { class: 'flex px-2 items-center bg-blue-600 rounded-r-xl font-semibold text-lg text-blue-100 hover:bg-blue-700' }
            }) }}
        {{ form_end(collaborateurAffectationForm) }}
    </div>

    <table class="relative mx-auto overflow-hidden my-4 rounded-xl shadow-xl">
        <thead class="text-md text-gray-700 uppercase bg-gray-200">
        <tr>
            <th class="px-6 py-3">Fonction</th>
            <th class="px-6 py-3">Restaurant</th>
            <th class="px-6 py-3">Ville</th>
            <th class="px-6 py-3">Date de début</th>
            <th class="px-6 py-3">Date de fin</th>
            <th class="px-6 py-3">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for affectation in affectations %}
            <tr class="bg-white border-b border-gray-200">
                <td class="px-6 py-4">{{ affectation.fonction.intitule }}</td>
                <td class="px-6 py-4">{{ affectation.restaurant.nom }}</td>
                <td class="px-6 py-4">{{ affectation.restaurant.ville }}</td>
                <td class="px-6 py-4">{{ affectation.dateDebut|date('d/m/Y') }}</td>
                <td class="px-6 py-4">{{ affectation.dateFin ? affectation.dateFin|date('d/m/Y') : '' }}</td>
                <td class="px-6 py-4">
                    {% if not affectation.dateFin %}
                        <a class="text-blue-600 p-4 items-center font-semibold text-lg hover:text-blue-500" href="{{ path('app_affectation_edit', {'id': affectation.id}) }}">
                            Modifier
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="bg-white border-b border-gray-200">
                <td colspan="4">
                    Pas d'affectations
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_collaborateur_index') }}" class="p-2 items-center bg-blue-600 rounded-xl font-semibold text-lg text-blue-100 hover:bg-blue-700">
        Retourner à la liste
    </a>

    <a href="{{ path('app_collaborateur_new_affectation', {'id': collaborateur.id}) }}" class="ml-4 p-2 items-center bg-blue-600 rounded-xl font-semibold text-lg text-blue-100 hover:bg-blue-700">
        Affecter ce collaborateur à un nouveau poste
    </a>

    {{ include('collaborateur/_delete_form.html.twig') }}
{% endblock %}
