{{ form_start(form, {
    action: action|default(''),
    attr: { class: 'grid md:grid-cols-2' }
}) }}
    {{ form_label(form.nom, 'Nom :', {
        label_attr: { class: 'col-span-1 font-semibold text-lg my-auto' }
    }) }}
    {{ form_widget(form.nom, {
        attr: { class: 'col-span-1 items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded-xl' }
    }) }}
    <div class="col-span-1 md:col-span-2 text-red-600 text-sm mt-1">
        {{ form_errors(form.nom) }}
    </div>
    {{ form_label(form.adresse, 'Adresse :', {
        label_attr: { class: 'col-span-1 font-semibold text-lg my-auto' }
    }) }}
    {{ form_widget(form.adresse, {
        attr: { class: 'col-span-1 items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded-xl' }
    }) }}
    <div class="col-span-1 md:col-span-2 text-red-600 text-sm mt-1">
        {{ form_errors(form.adresse) }}
    </div>
    {{ form_label(form.codePostal, 'Code postal :', {
        label_attr: { class: 'col-span-1 font-semibold text-lg my-auto' }
    }) }}
    {{ form_widget(form.codePostal, {
        attr: { class: 'col-span-1 items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded-xl' }
    }) }}
    <div class="col-span-1 md:col-span-2 text-red-600 text-sm mt-1">
        {{ form_errors(form.codePostal) }}
    </div>
    {{ form_label(form.ville, 'Ville :', {
        label_attr: { class: 'col-span-1 font-semibold text-lg my-auto' }
    }) }}
    {{ form_widget(form.ville, {
        attr: { class: 'col-span-1 items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded-xl' }
    }) }}
    <div class="col-span-1 md:col-span-2 text-red-600 text-sm mt-1">
        {{ form_errors(form.ville) }}
    </div>

    <div class="col-span-1 md:col-span-2 text-red-600 text-sm mt-4">
        {{ form_errors(form) }}
    </div>

    <div class="col-span-1 md:col-span-2">
        {{ form_widget(form.submit, {
            'label': button_label|default('Enregistrer'),
            'attr': { class: 'w-full items-center h-12 bg-blue-600 mt-8 rounded-xl font-semibold text-lg text-blue-100 hover:bg-blue-700' }
        }) }}
    </div>
{{ form_end(form) }}
