<div {{ attributes }}>
    <div class="flex items-center justify-center">
        {{ form_start(form, {
            attr: { class: 'flex bg-white rounded-xl shadow-lg border border-gray-400' }
        }) }}
            {{ form_label(form.nom, 'Nom :', {
                label_attr: { class: 'flex font-semibold text-lg mx-2' }
            }) }}
            {{ form_widget(form.nom, {
                attr: {
                    class: 'flex items-center bg-gray-200 px-2 border-x border-gray-400',
                    'data-model': 'nom'
                }
            }) }}
            {{ form_label(form.codePostal, 'Code postal :', {
                label_attr: { class: 'flex font-semibold text-lg mx-2' }
            }) }}
            {{ form_widget(form.codePostal, {
                attr: {
                    class: 'flex items-center bg-gray-200 px-2 border-x border-gray-400',
                    'data-model': 'codePostal'
                }
            }) }}
            {{ form_label(form.ville, 'Ville :', {
                label_attr: { class: 'flex font-semibold text-lg mx-2' }
            }) }}
            {{ form_widget(form.ville, {
                attr: {
                    class: 'flex items-center bg-gray-200 px-2 border-x border-gray-400',
                    'data-model': 'ville'
                }
            }) }}
            {{ form_widget(form.submit, {
                label: 'Rechercher',
                attr: { class: 'flex px-2 items-center bg-blue-600 rounded-r-xl font-semibold text-lg text-blue-100 hover:bg-blue-700' }
            }) }}
        {{ form_end(form) }}
    </div>

    <table class="relative overflow-x-auto w-full my-4">
        <thead class="text-md text-gray-700 uppercase bg-gray-200">
            <tr>
                <th class="px-6 py-3">Nom</th>
                <th class="px-6 py-3">Adresse</th>
                <th class="px-6 py-3">Code postal</th>
                <th class="px-6 py-3">Ville</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in this.restaurants %}
            <tr class="bg-white border-b border-gray-200">
                <td class="px-6 py-4">
                    <a class="text-blue-600 p-4 items-center font-semibold text-lg hover:text-blue-500" href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">
                        {{ restaurant.nom }}
                    </a>
                </td>
                <td class="px-6 py-4">{{ restaurant.adresse }}</td>
                <td class="px-6 py-4">{{ restaurant.codePostal }}</td>
                <td class="px-6 py-4">{{ restaurant.ville }}</td>
            </tr>
        {% else %}
            <tr class="bg-white border-b border-gray-200">
                <td class="px-6 py-4" colspan="6">
                    Pas de restaurant
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {{ knp_pagination_render(this.restaurants, 'partials/pagination.html.twig') }}
    </div>

    <a href="{{ path('app_restaurant_new') }}" class="p-2 items-center bg-blue-600 rounded-xl font-semibold text-lg text-blue-100 hover:bg-blue-700">
        Créer un nouveau restaurant
    </a>
</div>
